h1
{
padding:0;
margin:0;
}
p
{
padding: 0;
margin:0;
font-style: unset;
font-size: 30px;
}
div.hero-bg
{
position:relative;
height:50%;
background-image: linear-gradient(to left,rgba(255,0,0,0.7),rgba(0,255,0,0.7)), url("photo.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
div.hero-text
{
position:absolute;
top:50%;
left:50%;
text-align: center;
transform: translate(-50%,-50%);
}
html, body
{
margin:0;
height: 100%;
}